body {
    background-color: #d4e1ef;
    padding: 3.125rem;
}
.qr-card{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 15.625rem;
    min-width: 15.625rem;
    padding: 1.25rem;
    margin: 0 auto;
}
.qr-card h2, .qr-card p {
    text-align: center;
}
.qr-card p{
    color: grey;
}
.qr-card img{
    border-radius: 10px;
}
.attribution{
    margin: 0 auto;
  
    margin-top: 3.125rem;
    max-width: 50%;
}